<p id="notice"><%= notice %></p>

<p>
  <b>Reason:</b>
  <%= @expense.reason %>
</p>

<p>
  <b>Spent on:</b>
  <%= @expense.spent_on %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
